* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    padding-right: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    padding-right: 100px;
}
ul {
    display: flex;
    list-style-type: none;
}
nav ul li a {
    font-size: 12px;
    padding: 0 50px 0 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
nav li a::after {
    content:'';
    display: block;
    height: 4px;
    width: 0;
    background: rgba(26, 22, 225, 0.809);
    transition: all .5s;
}
nav li a:hover::after {
    width: 100%;
}
.signin-btn {
    margin-right: 20px;
    width: 80px;
    height: 30px;
    background: white;
    border: 1px solid rgba(26, 22, 225, 0.809);
    border-radius: 10px;    
}
.signin-btn:hover {
    background: white;
    box-shadow: 0 0 5px rgba(26, 22, 225, 0.809), 0 0 10px rgba(26, 22, 225, 0.809), 0 0 15px rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
.signin-btn a {
    color: rgba(26, 22, 225, 0.809);
    text-decoration: none;
}
.tryfree-btn {
    margin-right: 10px;
    width: 80px;
    height: 30px;
    background: rgba(26, 22, 225, 0.809);
    border: 1px solid rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
.tryfree-btn:hover {
    background: rgba(26, 22, 225, 0.809);
    box-shadow: 0 0 5px rgba(26, 22, 225, 0.809), 0 0 10px rgba(26, 22, 225, 0.809), 0 0 15px rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
.tryfree-btn a {
    text-decoration: none;
    color: white;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentright img {
    width: 500px;
    padding-left: 40px;
}
.contentleft {
    margin-bottom: auto;
    padding-top: 40px;
}
main h1 {
    font-size: 60px;
    color: black;
    font-weight: 700;   
}
main h2 {
    font-size: 30px;
    color: black;
}
main p {
    padding-top: 20px;
    font-size: 18px;
    color: rgb(147, 123, 123);
    font-weight: bold;
}
.signup-btn {
    background-image: url(./right-arrows.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right;
    margin-right: 10px;
    height: 50px;
    width: 150px;
    border: 1px solid rgba(26, 22, 225, 0.809);
    border-radius: 10px;
    background-color: rgba(26, 22, 225, 0.809);
}
.signup-btn:hover {
    background: rgba(26, 22, 225, 0.809);
    box-shadow: 0 0 5px rgba(26, 22, 225, 0.809), 0 0 10px rgba(26, 22, 225, 0.809), 0 0 15px rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
.signup-btn a{
    font-size: 15px;
    font-weight: 700;
    color: white;
    
}
.chat-btn {
    background-image: url(./chat.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
    height: 50px;
    width: 150px;
    border: 1px solid rgba(26, 22, 225, 0.809);
    border-radius: 10px;
    background-color: white;
}
.chat-btn:hover {
    background: white;
    box-shadow: 0 0 5px rgba(26, 22, 225, 0.809), 0 0 10px rgba(26, 22, 225, 0.809), 0 0 15px rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
.chat-btn a{
    font-size: 15px;
    font-weight: 700;
    color: rgba(26, 22, 225, 0.809)
}
main h3 {
    padding-top: 2px;
    font-size: 18px;
    color: rgb(147, 123, 123);
    font-weight: 400;  
}
main a {
    text-decoration: none;
    color: rgb(147, 123, 123);
    font-size: 22px;
}
main h3 span {
    font-weight: bolder;
}
.dot {
    height: 8px;
    width: 6px;
    background-color: rgba(26, 22, 225, 0.809);
    border-radius: 50%;
    display: inline-flex;  
}
section {
    justify-items: center;
    justify-content: center;
    text-align: center;
}
section .border {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    width: 700px;
    margin-left: 580px;
    padding-bottom: 50px;
}
section h3 {
    padding-top: 20px;
    font-size: 26px;
}
section h5 {
    text-align: center;
    justify-items: center;
}
ul button img {
    width: 40px;
    height: 40px;
    padding: 5px;
}
section button {
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 110px; 
}
section button:hover {
    background: rgba(26, 22, 225, 0.809);
    box-shadow: 0 0 5px rgba(26, 22, 225, 0.809), 0 0 10px rgba(26, 22, 225, 0.809), 0 0 15px rgba(26, 22, 225, 0.809);
    border-radius: 10px;
}
section ul {
    display: inline-flex;
}
button a {
  text-decoration: none;
  color: black;
}
li button {
    margin: 0 60px 0 80px;
}
.flex-container {
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-left: 350px;
    height: 600px;
    width: 1200px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 20px;
}
.flex-container img {
    display: flex;
    position: relative;
    width: 400px;
    height: 300px;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 100px;  
}
#bottom-list h3 {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    text-indent: 50px;
    margin-top: 100px;  
}
#bottom-list h4 {
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-left: 50px;
    margin-top: 30px;
}
#bottom-list {
    display: inline-block;
    height: 600px;
    width: 800px;
    background-color: rgba(26, 22, 225, 0.809);
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;  
}
#bottom-list li {
    margin-top: 30px;
    text-align: left;
    padding-left: 51px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.698);
}
#bottom-list button {
    display: flexbox;
    background-image:url(./next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-inline: 500px;
    margin-left: 50px;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(26, 22, 225, 0.809);
    border-color: white;
    border-width: 3px;
    font-size: 18px;
}
#bottom-list button:hover {
    background: rgba(26, 22, 225, 0.809);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.698), 0 0 10px rgba(255, 255, 255, 0.698), 0 0 15px rgba(255, 255, 255, 0.698);
    border-radius: 10px;
}
#bottom-list button a {
    display: flexbox;
    color: rgba(255, 255, 255, 0.698);
    font-size: 20px;
}

.solutions {
    display: flex; 
    position:relative;
    margin-top: 100px;
    padding-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    justify-content: center;
    font-size: 22px;
}
#flex-container2 {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: 450px;
    height: 800px;
    width: 1000px;
    justify-content: center;
}
.flex-container2 {
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-left: 350px;
    height: 600px;
    width: 1200px;
    border-radius: 20px;
    margin-bottom: 100px;
}
#foottitle {
    background-color: rgba(26, 22, 225, 0.809);
    display: flex;
    position: relative;
    justify-content: center; 
    height: 400px;
}
#foottitle h2 {
    color: white;
    position: absolute;
    font-size: 48px;
    margin-top: 40px;
    font-weight: bald;
    justify-content: center;
}
#foottitle p {
    position: absolute;
    color: white;
    font-size: large;
    font-weight: bald;
    margin-top: 120px;
    
}
#getstarted {
    display: flex;
    position: relative;
    margin-top: 160px;
}
#getstarted button {
    background-color: rgba(43, 214, 20, 0.936);
    position: relative;
    font-size: 18px;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-image: url(./next.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
    margin-inline-end: 40px

}
#getstarted button a {
    color: white;
}
#getstarted button:hover {
    background: rgba(43, 214, 20, 0.936);
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    border-radius: 10px;
}
footer .chat-btn{
    position:relative;
    font-size: 18px;
    height: 40px;
    margin-top: 160px;
    margin-inline-start: 30px; 
}
footer .chat-btn:hover {
    background: white;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    border-radius: 10px;
}
#botwords {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 170px;
}
.dotwht {
    height: 8px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    padding: 2px;
}
